body{
	margin-top:2%;
	background-color: #FFDAB9;
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

.row{
	margin-top: 2%;
}

th, td {
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
}