<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>MVC Project</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- CSS links -->
<link rel="stylesheet" href="/resources/css/index.css">

<a href="/">
<button type="HOME" 
			class="btn btn-default">Home</button></a>
<a href="/schoolList">
<button type="School List" 
			class="btn btn-default">List School</button></a>
<a href="/contact">
<button type="Contact-Us" 
			class="btn btn-default">Contact Us</button></a>
<a href="/about">
<button type="About-Us" 
			class="btn btn-default">About Us</button></a>
<a href="/statics">
	<button type="Statics" class="btn btn-default">Statics</button></a>
</head>

<body>
	<form
	action="#" th:action="@{/form_validation}"
	th:object="${formValidation}"
	method="post">
		<span style="font-size: 30px">The current visitor count is </span>
	<span style="font-size: 30px;color:blue" th:text="${pageCount}">noValue</span>

			<div class="form-group row">
				<label for="school_id" 
				class="col-sm-2 col-form-label">
				school ID</label>
				<div class="col-sm-4">
					<input type="text" 
					class="form-control"
						id="school_id"
						th:field="*{schoolID}"
						placeholder="Enter school ID">
						
						<p th:if="${#fields.hasErrors('schoolID')}" th:errors="*{schoolID}">Failed</p>
				</div>
				
			</div>
			<div class="form-group row">
				<label for="school_name" class="col-sm-2 col-form-label">school name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="school_name"
						th:field="*{schoolName}"
						placeholder="Enter school name">
						
						<p th:if="${#fields.hasErrors('schoolName')}"
				th:errors="*{schoolName}">Failed error</p>
				</div>
				
				
				
			</div>
			
			<div class="form-group row">
				<label for="course_name" class="col-sm-2 col-form-label">Course name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="course_name"
						th:field="*{courseName}"
						placeholder="Enter course name">
						
						<p th:if="${#fields.hasErrors('courseName')}"
				th:errors="*{courseName}">Failed error</p>
				</div>
			</div>
			
			<button type="submit" 
			class="btn btn-default">Submit</button>
		
	</form>
</body>
</html>